
<div class="fluid-container header">
  <div class="flex-container">
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark" id="rajnavigation">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item pl-1 ">
            <a class="nav-link" href="#" style="color: white;">Menu</a>
          </li>
          <li class="nav-item pl-1">
            <a class="nav-link" href="#" style="color: white;">Feature</a>
          </li>
          <li class="nav-item pl-1">
            <a class="nav-link " href="#" style="color: white;">Contact</a>
          </li>
          <li class="nav-item pl-1">
            <a class="nav-link " href="#" style="color: white;">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="headersecond">
    <h6>Welcome to,</h6>
    <h4>HALDIRAM,SHIPRA MALL</h4>
   </div>
     <div class="headerthird">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </div>
</div>
</div>
